
<!DOCTYPE html>
<html>
<head>
	  {% load static %}

	<link rel="stylesheet" href="{% static 'css_files/style.css' %}" type="text/css">
	<title></title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- <div class="nav">
		
		
			<ul class="menu">
				<strong>
				<li><a href="/">Home</a></li>

				{% if user.is_authenticated %}
				<li style="font-family: arial; color: pink;"> Hello, {{user.username}}</li>
				<li><a href="/logout">LogOut</a></li>
				{% else %}

				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
				{% endif %}
				<li><a href="/donorform">Donate</a></li>
				<li><a href="/members">Members</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/upload">News Upadte</a></li>
				       </strong>
			</ul>
			
		</div> -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>Home page</title>
</head>
<body>


  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">NHHS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <a class="nav-link" href="/">Home</a>
      </li>
      				{% if user.is_authenticated %}
				<li class="nav-item"> Hello, {{user.username}}</li>
				<li class="nav-item"><a href="/logout" class="nav-link">LogOut</a></li>
								{% else %}

                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
				{% endif %}
				<li class="nav-item"><a href="/donorform" class="nav-link">Donate</a></li>
				<li class="nav-item"><a href="/members" class="nav-link">Search</a></li>
				<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<!-- <li class="nav-item"><a href="/search" class="nav-link">Search</a></li> -->
				<li class="nav-item"><a href="/upload" class="nav-link">Update</a></li>
			</ul>
  </div>
</nav>
   <div class="nav">
      <!--<img src="/images/logo.png"> -->

         
      </div>

		



{% block content %}

<h1 style="margin-left: 48%;">Donation Account Informations</h1>
<div class="donate-img">

 <img style="height: 750px; width: 800px;" src="{%static 'pic/don-img.jpg'%}"></div>
<div class="donation-form">

	<form  method='POST'>


		{% csrf_token %}
		  
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: teal;"type="text" name="full_name" placeholder="Full Name" required=""><br><br>
		
	
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: green;"type="number" name="contact" placeholder="Contact" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: coral;"type="text" name="address"  placeholder="Address" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: navy;"type="text" name="street"placeholder="Street" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: red;"type="text" name="city"placeholder="City" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: purple;"type="number" name="postal_code"placeholder="Postal Code" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: brown;"type="text" name="country"placeholder="Country" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: black;"type="email" name="email"placeholder="Email" required=""><br><br>
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: plum;" type="text" name="donate_catagory"placeholder="Donate catagory" required=""><br><br>
		<!--<input type="checkbox" name="child education" value="child education"> Child Education<br>
  		<input type="checkbox" name="homeless person" value="homeless person"> Homeless Person<br>
  		<input type="checkbox" name="health care" value="health care" checked> Health Care<br><br>-->
		
		<input style="height: 40px;  width: 300px; border-radius: 10px; border-color: teal;"type="number" name="donate_amt"placeholder="Donate amount" required=""><br><br>
		
		<input style="height: 70px;  width: 300px; border-radius: 10px; border-color: teal;"type="text" name="comments"placeholder="Comments" required=""><br><br>
 <button style=" border-radius: 10px; margin-left: 29%; " class="btn btn-success">Donate now</button>
	

</div>


{% endblock %} 

</body>
</html>




<!-- ========================================================================================== -->

 
<style type="text/css">
	
	.donation-form{
		margin-left: 48%;
		margin-top: -40%;
		position: absolute;

	}


.donate-img{
	margin-top: -4%;
	
}



</style>
