<!DOCTYPE html>
<html>
<head>
	   {% load static %}

   <link rel="stylesheet" href="{% static 'css_files/style.css' %}" type="text/css">
	
</head>
<body>

	<!-- <div class="nav">
		
			<ul class="menu">
				<strong>
				<li><a href="/">Home</a></li>

				{% if user.is_authenticated %}
				<li style="font-family: arial; color: pink;"> Hello, {{user.username}}</li>
				<li><a href="/logout">LogOut</a></li>
				{% else %}

				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
				{% endif %}
				<li><a href="/donorform">Donate</a></li>
				<li><a href="/members">Members</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/upload">News Upadte</a></li>
				       </strong>
			</ul>
			
		</div>
    -->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>Home page</title>
</head>
<body>


  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">NHHS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      				{% if user.is_authenticated %}
				<li class="nav-item"> Hello, {{user.username}}</li>
				<li class="nav-item"><a href="/logout" class="nav-link">LogOut</a></li>
								{% else %}

                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
				{% endif %}
				<li class="nav-item"><a href="/donorform" class="nav-link">Donate</a></li>
				<li class="nav-item"><a href="/members" class="nav-link">Search</a></li>
				<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<!-- <li class="nav-item"><a href="/search" class="nav-link">Search</a></li> -->
				<li class="nav-item"><a href="/upload" class="nav-link">Update</a></li>
    </ul>
  </div>
</nav>
   <div class="nav">
      <!--<img src="/images/logo.png"> -->

         
      </div>


	
<div class = "container">
<h1> search Member List</h1>
<form method="post" action="/search/">
	{% csrf_token %}
	<div class="form-group">
		<div class="part1">
	<input type="text", name="srh" class="form-control" placeholder="Enter member name or amt">
</div>
		<label class="part2">
			<br>
	<button type="submit" class="btn btn-danger">Search</button>
</label>
</div>
</form><br><br>
<div>
	{% if messages %}
	<ul class="messages">
		{% for k in messages%}
		<li style="color:red">{{ k }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div><br>
<div style="color:blue">

	{% if sr %}
	{% for k in sr %}
	<table border= "1px" width="300px">
		<tr>
			<td>Full Name</td>
			<td>{{k.full_name}}</td>
		</tr>
		<tr>
		<td>Email ID</td>
		<td>{{k.email}}</td>
	</tr>
	<tr>
		<td>Donate Catagory</td>
		<td>{{k.donate_catagory}}</td>
	</tr>
	<tr>
		<td>Donate Amt</td>
		<td>{{k.donate_amt}}</td>
	</tr>
</table>
<hr>
	{% endfor %}
	{% endif %}
</div>
</body>
</html>