
<!DOCTYPE html>
<html>
<head>

	{% load static %}

   <link rel="stylesheet" href="{% static 'css_files/style.css' %}" type="text/css">
	<title>upload files</title>
</head>
<body>


{% block content %}

		
		<!-- <div class="nav">
		
		
			<ul class="menu">
				<strong>
				<li><a href="/">Home</a></li>

				{% if user.is_authenticated %}
				<li style="font-family: arial; color: pink;"> Hello, {{user.username}}</li>
				<li><a href="/logout">LogOut</a></li>
				{% else %}

				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
				{% endif %}
				<li><a href="/donorform">Donate</a></li>
				<li><a href="/members">Members</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/upload">News Upadte</a></li>
				       </strong>
			</ul>
			
		</div> -->



		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>Home page</title>
</head>
<body>


  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">NHHS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       
            <a class="nav-link" href="/">Home</a>
      </li>
      				{% if user.is_authenticated %}
				<li class="nav-item"> Hello, {{user.username}}</li>
				<li class="nav-item"><a href="/logout" class="nav-link">LogOut</a></li>
								{% else %}

                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
				{% endif %}
				<li class="nav-item"><a href="/donorform" class="nav-link">Donate</a></li>
				<li class="nav-item"><a href="/members" class="nav-link">Search</a></li>
				<li class="nav-item"><a href="/news" class="nav-link">News</a></li>
				<!-- <li class="nav-item"><a href="/search" class="nav-link">Search</a></li> -->
				<li class="nav-item"><a href="/upload" class="nav-link">Update</a></li>
    </ul>
  </div>
</nav>
   <div class="nav">
      <!--<img src="/images/logo.png"> -->

         
      </div>



	<img style="margin-left:-7%; margin-top: -2%;"  src="{%static 'pic/update-img.png'%}"></div>

<h2 style="margin-left: 65%; margin-top: -39%;">Upload News Here</h2>

<div class="update-form">
<form method="POST" enctype="multipart/form-data"> 
	{% csrf_token %}

	<input style="height: 45px;  width: 300px; border-radius: 10px; border-color: teal;" type="text" name="Title" placeholder="Title"><br><br>
	<input style="height: 45px;  width: 300px; border-radius: 10px; border-color: teal;" type="Date" name="Date" placeholder="Date"><br><br>
	<input style="height: 45px;  width: 300px; border-radius: 10px; border-color: teal;" type="file" name="image" placeholder="serach images"><br><br>
	<!--<textarea name="message" id="Description"></textarea><br><br>-->
	<input style="height: 45px;  width: 300px; border-radius: 10px; border-color: teal;" type="textarea" name="Description" placeholder="Descriptions"><br><br>
	<button style=" border-radius: 10px; margin-left: 29%; width: 100px; " class="btn btn-success">Upload</button>

</div>

</form>


{% endblock %}

</body>
</html>


<!-- ================================================================================ -->

<style type="text/css">

.update-form{
	margin-left: 65%;
	margin-top: 1%;
	position: absolute;
	

}


</style>