 body {
 	background-color: orange;

 }

.nav{  /* nav box css*/
	background: rgba(0,0,0,0.5);
	height: 90px;
	margin-top: -7px;
	

}

.menu{
	float:right;
	list-style: none;
	margin: 20px;
}

.menu li{    /* nav content postion */
	display: inline-block;
	margin: 10px 5px;
} 

.menu li a{
	text-decoration:none;
	color: #fff;
	padding: 5px 10px;
	font-family: sans-serif;
	letter-spacing: 2px;
	border-bottom: 1px solid #fff;
}

.menu li a:hover{
	background: coral;
	border-bottom: 1px solid coral;
	transition: .3s; 
}

.menu a:hover{
	border-bottom: 6px;
	border-radius: 22%;
	color:#3c3c3c ;
}
